/* .results-container {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  gap: 1rem;
  margin-top: 2rem;
} */

/* 
.student_name {
  color: #0d6db7;
}

.student_name_red {
  color: red;
}

.box {
  display: inline-block;
}

.progress {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.progress > .inner {
  position: absolute;
  color: #0d6db7;
}

.progress > svg {
  height: 100%;
  display: block;
}

.inner {
  font-size: 2.5rem;
  color: #0d6db7;
}

.box {
  width: 100%;
  margin-top: 4rem;
} */

.results-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-container h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 3rem;
}

.theme-green {
  color: green;
}

.theme-red {
  color: red;
}

.result-detail-table {
  width: 100%;
  color: #0d6db7;
  border: none;
}

.result-detail-table th,
.result-detail-table td {
  border: none;
}

.result-detail-table th,
.result-detail-table td {
  border-top: 1px solid #dee2e6;
}

/* Back to home button */

.theme-btn {
  background-color: #0d6db7;
  color: #fff;
  padding: 5px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 45px auto;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center !important;
}
.progress-bar-circle {
  height: 100px;
  width: 100px;
}

.CircularProgressbar {
  width: 100%;
  vertical-align: middle;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

@media screen and (max-width: 590px) {
  .results-container {
    margin: 0 1.1rem;
  }

  #feedback {
    margin-top: 0rem;
  }

  .subject-descr-box {
    margin-bottom: 0;
  }
}
